*.class
*.jar
.metadata
.recommenders
VerkehrschaosTruck/.classpath
VerkehrschaosTruck/.project
VerkehrschaosTruck/.settings/
VerkehrschaosTruckCompany/.classpath
VerkehrschaosTruckCompany/.project
VerkehrschaosTruckCompany/.settings/
orb.db/
A2/idl_files/out/
A3/HAWMeter/
HAWMeterClient/
